@import url(common.css);


html,body{
    
    
}

.con1{
    width: 100%;
    text-align: center;
    
}

.con1 img{
    width: 100%;
    margin: 0;
}

.all{
    
    margin-top: 70px;
    margin-bottom: 70px;
    
}

.all ul{
    width: 100%;
    overflow: hidden;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.all ul li{
    margin: 1%;
    
}

.all ul li p{
    color: #fff;
    font-size: 1.5em;
    text-align: center;
}

.all ul li p:hover{
    font-weight: bold;
    text-decoration: underline;
}


.commu{
    
    text-align: center;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
/*    padding: 3%;*/
}


.commu ul{
    width: 90%;
    overflow: hidden;
    text-align: center;
    margin: 0;
    padding: 0;
      
}

.commu ul li{
/*  float: left;  */
    margin-bottom: 50px;
/*    padding-left:20px;*/
    line-height: 2.5;
    text-align: left;
/*    padding: 10px;*/
    display: inline-block;
        
}

.commu h4{
    color: salmon;
    text-align: left;
}

.commu p{
    color: #fff;
    text-align: left;
}
.commu ul li #date{
    position: absolute;
    width: 140px; height: 90px;
    color: #000;
    padding: 0.2%;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    background: #fff;
}

.commu a{
    
    background: #000;
    border: 1px solid #fff;
    color: #fff;
    padding: 10px 20px 10px 20px;
    font-size: 12px;
    font-weight: bold;
    
}

.commu a:hover{
    background: #fff;
    color: #000;
    border: 2px solid #555;
}


/*
#more{
    
    
    font-size: 12px;
    font-weight: bold;
    color: white;
    
}
*/

/*
#more.active{
    opacity: 0;
}
*/

/*
.bot{
    padding-left: 20px;
}
*/

/*
marquee{
    font-size: 100px;
    color: white;
    margin-top: 100px;
    margin-bottom: 100px;
}   
*/

.bann{
    
    animation: banner 10s infinite alternate;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    /*    animation: repeat;*/
    /*    animation-timing-function: linear;*/
    margin-top: 100px;
    margin-bottom: 100px;
    
}
.bann ul{
    display:flex;
    flex-wrap: nowrap;
}
.bann ul li{
    margin-right:20px;
}

@keyframes banner{
    0%{
        transform: translate(0) translateZ(0px);
    }
    
    100%{
        transform: translate(-150%) translateZ(0px);
    }
    
   
}
 
